{% extends "base_main.html" %}
{% load staticfiles %}

{% block title %}Наши контакты{% endblock %}
{% block content %}

<div class="section">
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="h2 dvt-heading-bordered text-capitalize dvt-os-animation m-t-25 m-b-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                          <small class="text-muted font-italic">Напишите нам</small> Форма связи</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <img class="lazyload" data-src="{% static 'images/thankyou.png' %}" id="ess2" style="width:100%;display:none">
                        <div id="ess" class="card card-hero dvt-shadow-8 dvt-shadow-hover-16 dvt-transition dvt-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                            <div class="card-block">
                                <form action="" id="feedback-form" method="post" class="contact-form">
                                    <div class="row text-xs-center">
                                        <div class="col-md-6">
                                          {{ form1.name.errors }}
                                          {{ form1.name }}
                                        </div>
                                        <div class="col-md-6">
                                          {{ form1.email.errors }}
                                          {{ form1.email }}
                                        </div>
                                        <div class="col-md-12">
                                          {{ form1.message.errors }}
                                          {{ form1.message }}
                                          <button type="submit" class="btn btn-primary dvt-shadow-2">Отправить</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
