
{% load staticfiles humanize %}

<li class="media comment-item">
    <a name="comment-{{ last_comment.id }}"></a>
    <div class="row" id="{{ last_comment.id }}">
        <div class="col-md-{{ last_comment.get_col }}
              col-md-offset-{{ last_comment.get_offset }}">
              <a class="pull-left" href="{% url 'profile-user' username=last_comment.author_id.username %}" data-bjax data-target="#content1" data-el="#content1">
                {% if last_comment.author_id.profile.avatar %}
                  <img class="media-object comment-avatar" src="{{ last_comment.author_id.profile.avatar.url }}" alt="comment-avatar" />
                {% else %}
                  <img class="media-object comment-avatar" src="{% static 'images/user.png' %}" alt="user" />
                {% endif %}
              </a>
            <div class="media-body">
                <div class="comment-item-data">
                    <div class="comment-author">
                        <a href="{% url 'profile-user' username=last_comment.author_id.username %}" data-bjax data-target="#content1" data-el="#content1">
                            {{ last_comment.author_id.username }}
                        </a>
                    </div>
                    {{ last_comment.posted|naturaltime }}
                    <span class="separator">&mdash;</span>

                </div>
                <p>{{ last_comment.content|safe }}</p>

            </div>
        </div>
    </div>
<a style="opacity:0" href="#comment-{{ last_comment.id }}">#</a>
</li>
