{% extends "base_main.html" %}
{% load staticfiles humanize %}
{% block title %}
  {% if search %}
    {{ search }} ::
  {% elif tag %}
    Вы выбрали тег "{{ tag }}"
  {% endif %}
  {% if not tag %}
    {{ category.name }}
  {% endif %}
{% endblock %}
{% block content %}
<style>
a .tooltip {
    position: relative;
    display: inline-block;
    opacity:1;
}
a .tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: 40px;
    border:1px #969696 solid;
    display: block;
    z-index: 100000;
}
a .tooltip:hover .tooltiptext {
    visibility: visible;
}
a{
  font-family: Dosis, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 15px;
    color: #111111;
}
</style>

<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">{{ category.name }}</h1>
                <div class="hs-line-4 font-alt black">
                </div>
            </div>
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}" data-bjax data-target="#content1" data-el="#content1">Главная</a>&nbsp;/&nbsp;<span>{{ category.name }}</span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="small-section">
    <div class="container relative">
        <form class="form-inline form" role="form">
            <div class="search-wrap">
                <input type="text" name="search" id="search" class="form-control search-field" placeholder="Поиск...">
            </div>
        </form>
    </div>
</section>
<div class="container relative" style="margin-top: -25px;">
    <div id="title_res"></div>
    <br><br>
    <div id="search_container" class="row multi-columns-row">
    </div>
</div>

<hr class="mt-0 mb-0" />

<h3 class="text-center"><span>{% if tag %}Вы выбрали тег "{{ tag }}"{% endif %}</span></h3>

<section class="page-section">
    <div class="container relative">
        {% if object_list %}
        <div class="row multi-columns-row">
            {% for object in latest %}
            <div class="col-sm-6 col-md-3 col-lg-3 mb-60 mb-xs-40">
                <div class="post-prev-img">
                    {% if object.image %}
                    <a href="{% url 'movies_detail' pk=object.pk %}" data-bjax data-target="#content1" data-el="#content1"><img class="lazyload" data-src="{{ object.image.url }}" alt="" /></a>
                    {% endif %}
                </div>
                <div class="post-prev-title font-alt">
                    <a href="{% url 'movies_detail' pk=object.pk %}" data-bjax data-target="#content1" data-el="#content1">{{ object.title }}</a>
                </div>
                <div class="post-prev-info font-alt">
                    <span class="fa fa-clock-o"></span> {{ object.posted|naturaltime }}
                    <br>
                    <span class="fa fa-thumbs-o-up"></span>
                    <span data-count="like">{{ object.votes.likes.count }}</span>
                    &nbsp;
                    <span class="fa fa-thumbs-o-down"></span>
                    <span data-count="dislike">{{ object.votes.dislikes.count }}</span> |
                    <span class="fa fa-eye"></span>
                    <span>{{ object.views }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h3 style="text-align:center">Роликов пока нет :-)</h3>
        {% endif %}
        {% if paginator.num_pages > 1 %}
        <div class="pagination">
            {% for pn in paginator.page_range %}
            <a {% if pn == page_obj.number %}class="active" {% endif %}{% if pn != page_obj.number %}href="?page={{ pn }}{% if search %}&search={{ search }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" {% endif %} data-bjax data-target="#content1" data-el="#content1">{{pn}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

<script>
    $("#search").keyup(function() {
        if (this.value.length > 1) {
            $('#search_container').html('').load("{% url 'movie_filter' %}?search=" + this.value);
            $('#title_res').html("Вы ищете:  " + this.value);
        } else {
            $('#search_container').html('');
            $('#title_res').html("");
        }
    });
</script>
{% endblock %}
