{% load staticfiles %}

<div class="section">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-xs-cover section-bg-image-size-lg-100 section-bg-image-position-xs-top dvt-opacity-6 dvt-demo-bg-image-1 section-bg-image-paralax"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h2 dvt-heading-bordered text-capitalize dvt-os-animation m-t-9 m-b-3" data-os-animation="fadeIn" data-os-animation-delay=".3s"><small class="text-muted font-italic">О нас</small> История! Интересно</h1>
                </div>
                <div class="col-md-12">
                    <div class="card card-horizontal card-hero dvt-shadow-8 dvt-shadow-hover-16 dvt-transition dvt-os-animation m-b-9" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <div class="row">
                            <div class="col-lg-6 flex-lg-last">
                                <div class="card-img-container"><img class="card-img" src="{% static 'images/about.jpg' %}" alt="Card image"></div>
                            </div>
                            <div class="col-lg-6 flex-lg-first">
                                <div class="card-block">
                                    <h2 class="card-title m-b-3"><a href="about.html">Welcome To Divinity Church</a></h2>
                                    <p class="card-text lead">As for God, his way is perfect. The word of Yahweh is tried. He is a shield to all those who take refuge in him. For who is God, except Yahweh? Who is a rock, besides our God, the God who arms me with strength, and makes my way perfect?</p>
                                    <p class="card-text lead">He makes my feet like deer's feet, and sets me on my high places.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
