{% load staticfiles %}

<div class="section desc-hidden" style="margin-top:100px;">

    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h2 dvt-heading-bordered text-capitalize dvt-os-animation m-t-9 m-b-3" data-os-animation="fadeIn" data-os-animation-delay=".3s"><small class="text-muted font-italic">О нас</small> История! Интересно</h1>
                </div>
                <div class="col-md-12">
                    <div class="card card-horizontal card-hero dvt-shadow-8 dvt-shadow-hover-16 dvt-transition dvt-os-animation m-b-9" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <div class="row">
                            <div class="col-lg-6 flex-lg-last">
                                <div class="card-img-container"><img class="card-img lazyload" data-src="{% static 'images/about.jpg' %}" alt="Card image"></div>
                            </div>
                            <div class="col-lg-6 flex-lg-first">
                                <div class="card-block">
                                    <h2 class="card-title m-b-3">Добро пожаловать!</h2>
                                    <p class="card-text lead">Привет! Это «История. Интересно!». Интересно и ярко мы расскажем Вам о самых сложных вопросах истории! Что долгое время замалчивали? Что скрывается за страницами учебников? Как археология меняет представления о нашем прошлом? Что было на Руси до Руси? Какое иго было самым древним в истории славян? Какого роста были богатыри? Кто такие русские на самом деле? Как выглядели древние русы? Какую великую битву замалчивают историки? Что скрывают руские сказки? Кто такие Бабя Яга, Кощей Бессмертный и Змей Горыныч на самом деле? Что ели древние славяне на самом деле? Какие факты о Средневековье просто шокируют! Чем нас поражает семейная жизнь древних римлян? Самые новые открытия археологов, последние статьи ученых - рассказанные интересно!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
