{% load staticfiles humanize %}
{% if news %}
<div class="section">
    <div class="section-background">
        <div class="section-bg-image dvt-demo-bg-image-2 section-bg-image-size-lg-100 section-bg-image-size-xs-contain section-bg-image-paralax dvt-opacity-5"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="h2 dvt-heading-bordered text-capitalize dvt-os-animation m-t-9 m-b-3"
                        data-os-animation="fadeIn"
                        data-os-animation-delay=".3s">
                        <small class="text-muted font-italic">Последние</small>
                        Новости
                    </h1>
                </div>
                {% for object in news %}
                {% if not forloop.counter|divisibleby:"2" %}
                <div class="col-lg-6">
                    <div class="card card-horizontal dvt-shadow-8 dvt-shadow-hover-16 dvt-transition m-t-1 dvt-flex-items-lg-strech dvt-os-animation"
                         data-os-animation="fadeIn"
                         data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                  {% if object.image %}
                                  <img class="card-img" src="{{ object.image.url }}" alt="Card image">
                                  {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-block">
                                    <h3 class="card-title">
                                      <a href="{% url 'news_detail' pk=object.pk %}"
                                        data-bjax data-target="#content1"
                                        data-el="#content1">
                                        {{ object.title }}
                                      </a>
                                    </h3>
                                    <h6 class="card-subtitle font-italic text-muted">
                                      <span class="fa fa-clock-o"></span> {{ object.posted|naturaltime }}
                                    </h6>
                                </div>
                                <div class="card-footer">
                                    <div class="dvt-icon-set dvt-icon-set-expandable dvt-transition pull-xs-right">
                                      <a class="dvt-icon-set-item dvt-transition dvt-icon-set-item-trigger text-muted" href="#">
                                        <i class="fa fa-share-alt"></i>
                                      </a>
                                      <a class="dvt-icon-set-item dvt-transition dvt-icon-set-item-close" href="#">
                                        <i class="fa fa-close"></i> </a>
                                        <a class="dvt-icon-set-item dvt-transition text-muted" href="single-event.html">
                                          <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="dvt-icon-set-item dvt-transition text-muted" href="single-event.html">
                                          <i class="fa fa-twitter"></i>
                                        </a>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-6">
                    <div class="card card-horizontal dvt-shadow-8 dvt-shadow-hover-16 dvt-transition m-t-1 dvt-flex-items-lg-strech dvt-os-animation"
                         data-os-animation="fadeIn"
                         data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                  {% if object.image %}
                                  <img class="card-img" src="{{ object.image.url }}" alt="Card image">
                                  {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-block">
                                    <h3 class="card-title">
                                      <a href="{% url 'news_detail' pk=object.pk %}"
                                        data-bjax data-target="#content1"
                                        data-el="#content1">
                                        {{ object.title }}
                                      </a>
                                    </h3>
                                    <h6 class="card-subtitle font-italic text-muted">
                                      <span class="fa fa-clock-o"></span> {{ object.posted|naturaltime }}
                                    </h6>
                                </div>
                                <div class="card-footer">
                                    <div class="dvt-icon-set dvt-icon-set-expandable dvt-transition pull-xs-right">
                                      <a class="dvt-icon-set-item dvt-transition dvt-icon-set-item-trigger text-muted" href="#">
                                        <i class="fa fa-share-alt"></i>
                                      </a>
                                      <a class="dvt-icon-set-item dvt-transition dvt-icon-set-item-close" href="#">
                                        <i class="fa fa-close"></i> </a>
                                        <a class="dvt-icon-set-item dvt-transition text-muted" href="single-event.html">
                                          <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="dvt-icon-set-item dvt-transition text-muted" href="single-event.html">
                                          <i class="fa fa-twitter"></i>
                                        </a>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% ensfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
