<div class="section dvt-demo-bg-1">
    <div class="section-background">
        <div class="section-background-video dvt-opacity-2" data-youtube="f22RILgcrqo" data-muted="true" data-poster="assets/images/divinity/divinity-01-1600x1000.jpg"></div>
    </div>
    <div class="section-content p-y-30">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 p-y-3">
                    <h2 class="text-xs-center">История. Интересно!</h2>
                    <p class="lead text-xs-center">Здравствуйте, меня зовут Наталья. Поскольку я - журналист, а не историк, то в своих роликах
                      опираюсь на самые интересные научные работы, на статьи известных историков и современных археологов. Ярко и интересно я
                      расскажу Вам о том, что сегодня на самом передовом крае науки и еще не вышло за рамки научных сборников. Для меня история
                      - это увлекательные исторические расследования, это люди, которые также как и мы беспокоились о завтра и забывали о сейчас.
                      Приглашаю вас разделить со мной радость исторических открытий и увлекательные поиски ответов на многочисленные загадки
                      прошлого!</p>
                </div>
            </div>
        </div>
    </div>
</div>
