

<div class="dvt-icon-set dvt-icon-set-expandable dvt-transition pull-xs-right">
  <a class="dvt-icon-set-item dvt-icon-set-item-trigger text-muted" href="1">
    <i class="fa fa-share-alt"></i>
  </a>
  <a class="dvt-icon-set-item dvt-icon-set-item-close dvt-transition"
     href="2">
    <i class="fa fa-close"></i>
  </a>
  <a class="dvt-icon-set-item text-muted dvt-transition"
     href="http://vk.com/share.php?url=http://история-интересно.рф{{ object.get_absolute_url }}"
     onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
    <i class="fa fa-vk"></i>
  </a>

  <a class="dvt-icon-set-item text-muted dvt-transition"
     href="https://www.facebook.com/sharer/sharer.php?u=http://история-интересно.рф{{ object.get_absolute_url }}"
     onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
     target="_blank"
     rel="nofollow"">
    <i class="fa fa-facebook"></i>
  </a>
  <a class="dvt-icon-set-item text-muted dvt-transition"
     href="https://twitter.com/share?url=http://история-интересно.рф{{ object.get_absolute_url }}"
     onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
     target="_blank"
     rel="nofollow">
    <i class="fa fa-twitter"></i>
  </a>
</div>
