
{% load staticfiles humanize %}

<li class="media m-t-3" id="{{ last_comment.id }}">
    <a style="opacity:0;padding:0" name="last_comment-{{ comment.id }}"></a>
    <div class="media-left">
      <a href="{% url 'profile-user' username=last_comment.author_id.username %}">
        {% if last_comment.author_id.profile.avatar %}
        <img class="media-object img-fluid"
             src="{{ last_comment.author_id.profile.avatar.url }}"
             alt="comments author"
             style="width: 70px;">
        {% else %}
        <img class="media-object img-fluid"
             src="{% static 'images/user.png' %}"
             alt="user"
             style="width: 70px;" />
        {% endif %}
      </a>
    </div>
    <div class="media-body">
        <h5 class="media-heading font-italic">{{ last_comment.author_id.username }} -
          <small class="text-muted">{{ last_comment.posted|naturaltime }}</small>
        </h5>
        <p>{{ last_comment.content|safe }}</p>
    </div>
</li>
