{% extends "base_main.html" %}
{% load staticfiles humanize liked_user %}
{% block title %}{{ object.category.name }} :: {{ object.title }}{% endblock %}
{% block content %}

<style>
.youtube{
  width: 100%;
  height: 30em;
  max-height: 100%;
}
.like,
.dislike {
    font-size: 16px;
    cursor: pointer;
}
.like2,
.dislike2 {
    cursor: pointer;
    font-size: 16px;
}
.views,
.posted {
    font-size: 16px;
}
.text-success {
    color: #41cd52 !important;
}
.text-danger {
    color: #FF0000 !important;
}
.shot-form{
	  width: 75%;
	float: right;
	margin-left: 100px;
	margin-bottom: 10px;
	}
	  span {
	  position:relative;
	}
	span[data-tooltip]:before {
	  position: absolute;
	  left: 0;
	  top: -100px;
	  background-color: #372811;
	  color: #ffffff;
	  line-height: 30px;
	  border-radius: 5px;
	  padding: 0 15px;
	  content: attr(data-tooltip);
	  display: none;
	  white-space: nowrap;
	  height: 30px;
	  top: -40px;
	}
	    span[data-tooltip]:after {
	    position: absolute;
	    left: 15px;
	    top: -10px;
	    border-top: 7px solid #372811;
	      border-left: 7px solid transparent;
	      border-right: 7px solid transparent;
	    content: "";
	    display: none;
	    }
	    span[data-tooltip]:hover:after, span[data-tooltip]:hover:before {
	    display: block;
	    }
</style>

    <div class="section">
        <div class="section-background background-media">
            <div class="section-bg-image section-bg-image-size-lg-contain section-bg-image-position-xs-top section-bg-image-paralax dvt-demo-bg-image-8"></div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 m-t-25">
                        <div class="card card-hero dvt-shadow-8 dvt-shadow-hover-16 dvt-transition dvt-os-animation m-b-9" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                          {% if object.link  %}
                          <iframe class="youtube" src="{{ object.link }}?autoplay=1" allow='autoplay' frameborder="0" allowfullscreen></iframe>
                          {% else %}
                          {% if object.image %}
                          <img class="card-img" src="assets/images/divinity/divinity-02-800x500.jpg" alt="Card image">
                          {% endif %}
                          {% endif %}
                            <div class="card-block">
                                <h5 class="h2 card-title">{{ object.title}}</h5>
                                <h5 class="card-subtitle font-italic m-b-5">
                                  {% with names=object.tags.names %}

                                  {% for name in names %}
                                  <a href="{% url 'movies_index' pk=object.category.pk %}?tag={{ name|urlencode }}" class="text-muted">{{ name }}</a>&nbsp;&nbsp;
                                  {% endfor %}

                                  {% endwith %}
                                </h5>
                                <p>{{ object.content|safe }}</p>
                            </div>
                            <div class="card-footer">

                              <small class="text-muted">
                                {% include 'info.html' %}
                              </small>

                                {% include 'generic/share.html' %}

                            </div>
                        </div>
                        <div class="row">

                          {% include 'comments.html' %}

                        </div>
                    </div>

                    {% include 'sidebar.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
