{% load staticfiles %}
<!doctype html>
<html>
	<head>
		{% include 'meta.html' %}
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'styles/animate.min.css' %}" type='text/css' media='all' />
		<link rel="stylesheet" href="{% static 'styles/psalms.min.css' %}" />
	</head>

	<body class="pace-on pace-double-spinner">

    {% include "navbar.html" %}

		{% block content %}
		{% endblock %}

		{% include "footer.html" %}
		{% include 'scripts.html' %}
		<script defer src="{% static 'scripts/cockie.js' %}" type="text/javascript"></script>
	</body>
</html>
