{% load staticfiles humanize %}
<style>
  .footer_list li{
    list-style-type: none;
    font-size: 22px;
    letter-spacing: 5px;
  }
</style>
<footer id="footer">
    <div class="section p-t-30"  style="background-image: url(/static/images/footer.jpg);background-size: cover;">
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dvt-widget widget_text">
                            <h4 class="dvt-widget-header">Разделы</h4>
                            <ul class="footer_list">

                                {% url 'main' as main_url %}
                                <li {% if main_url == current_url %}
                                class=" active"
                                {% endif %}>
                                  <a href="{{ main_url }}"
                                     data-bjax data-target="#content1"
                                     data-el="#content1">Главная
                                   </a>
                                 </li>

                                <li><a href="#">Плейлисты</a>
                                    <ul class="dvt-nav-dropdown closed">
                                      {% for object in categories %}
                                      {% url 'movies_index' pk=object.pk as movies_index %}
                                        <li {% if movies_index == current_url %}
                                        class=" active"
                                        {% endif %}>
                                          <a href="{% url 'movies_index' pk=object.pk %}"
                                            data-bjax data-target="#content1"
                                            data-el="#content1">{{ object.name }}
                                          </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                {% url 'news_index' as news_url %}
                                <li {% if news_url == current_url %}
                                class=" active"
                                {% endif %}><a href="{{ news_url }}">Новости</a></li>

                                {% url 'guestbook' as guestbook_url %}
                                <li {% if guestbook_url == current_url %}
                                class=" active"
                                {% endif %}>
                                  <a href="{{ guestbook_url }}"
                                     data-bjax data-target="#content1"
                                     data-el="#content1">Отзывы
                                   </a>
                                </li>

                                {% url 'contacts' as contacts_url %}
                                <li {% if contac_url == current_url %}
                                class=" active"
                                {% endif %}>
                                  <a href="{{ contacts_url }}"
                                     data-bjax data-target="#content1"
                                     data-el="#content1">Контакты
                                   </a>
                                </li>

                                {% if user.is_authenticated %}
                                {% url 'profile-home' as profile_home %}
                                <li {% if profile_home == current_url %}
                                class="active"
                                {% endif %}>
                                  <a href="{{ profile_home }}"
                                     data-bjax data-target="#content1"
                                     data-el="#content1">Профиль
                                   </a>
                                </li>

                                {% else %}
                                {% url 'login' as login_url %}
                                <li {% if login_url == current_url %}
                                class=" active"
                                {% endif %}>
                                  <a href="{{ login_url }}"
                                     data-bjax data-target="#content1"
                                     data-el="#content1">Войти
                                   </a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dvt-widget widget_em_widget">
                            <h4 class="dvt-widget-header">Последние новости</h4>
                            <ul>
                              {% for object in last_news %}
                                <li>
                                  <a href="{% url 'news_detail' pk=object.pk %}"
                                    data-bjax data-target="#content1"
                                    data-el="#content1"
                                    class="pull-xs-left m-r-1 dvt-widget-image"
                                    title="Event title">
                                    {% if object.image %}
                                      <img class="dvt-widget-image m-r-1 pull-xs-left" alt="post image" src="{{ object.image.url }}">
                                    {% endif %}
                                  </a>
                                  <a href="{% url 'news_detail' pk=object.pk %}"
                                    data-bjax data-target="#content1"
                                    data-el="#content1"
                                    class="pull-xs-left m-r-1 dvt-widget-image"
                                    title="{{ object.title }}">
                                    {{ object.title }}
                                  </a>
                                  <ul>
                                    <li><small>{{ object.posted|naturaltime }}</small></li>
                                  </ul>
                                </li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dvt-widget widget_recent_entries">
                            <h4 class="dvt-widget-header">Последние ролики</h4>
                            <ul>
                              {% for object in last_movie %}
                                <li class="text-truncate">
                                  <a href="single-post.html" class="pull-xs-left m-r-1 dvt-widget-image" title="{{ object.title }}">
                                    {% if object.image %}
                                    <img src="{{ object.image.url }}" alt="Card image">
                                    {% endif %}
                                  </a>
                                  <a href="single-post.html">{{ object.title }}</a>
                                  <small class="post-date d-block">{{ object.posted|naturaltime }}</small>
                                </li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section p-t-1 p-b-1">
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-sm-left">
                        <div class="dvt-widget widget_text">
                            <p>Divinity Churh Template. © Oxygenna 2016</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-sm-right">
                        <div class="dvt-widget widget_social">
                            <div class="dvt-icon-set"><a class="dvt-icon-set-item dvt-transition" href="#"><i class="fa fa-instagram"></i> </a><a class="dvt-icon-set-item dvt-transition" href="#"><i class="fa fa-linkedin"></i> </a><a class="dvt-icon-set-item dvt-transition" href="#"><i class="fa fa-facebook"></i> </a><a class="dvt-icon-set-item dvt-transition" href="#"><i class="fa fa-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="dvt-go-top dvt-shadow-hover-10 hidden-xs-down hide">
  <i class="fa fa-angle-up"></i>
</a>
