{% load staticfiles %}

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.ico' %}"; type="image/x-icon" />
<meta name="description" content="Сайт гражданских активистов, посвященный Движению" />
<meta name="keywords" content="рейды Вектор движения, авто новости, обзоры мероприятий, рубрики Рупор Движения, Вы в эфире, Беспредел нашего городка, Движение travel и другие события . С нами вы будете В ДВИЖЕНИИ!" />
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Сайт гражданских активистов, посвященный Движению" />
<meta property="og:description" content="Сайт гражданских активистов, посвященный Движению" />
<meta property="og:image" content="http://...{% static 'images/logo.jpg' %}" />
