{% load staticfiles %}


<div class="dvt-nav dvt-nav-float dvt-nav-sticky dvt-nav-layout-logo-c-menu-lr dvt-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
    <div class="dvt-nav-container">
        <div class="dvt-nav-brand">
          <a href="{% url 'main' %}">
            История.&nbsp;Интересно!
          </a>
        </div>
        <div class="dvt-nav-mobile">
          <a id="nav-toggle" href="#"><span></span></a>
        </div>
        <nav class="dvt-nav-menu">
            <ul class="dvt-nav-list">

                {% url 'main' as main_url %}
                <li {% if main_url == current_url %}
                class=" active"
                {% endif %}>
                  <a href="{{ main_url }}"
                     data-bjax data-target="#content1"
                     data-el="#content1">Главная
                   </a>
                 </li>

                <li><a href="#">Плейлисты</a>
                    <ul class="dvt-nav-dropdown closed">
                      {% for object in categories %}
                      {% url 'movies_index' pk=object.pk as movies_index %}
                        <li {% if movies_index == current_url %}
                        class=" active"
                        {% endif %}>
                          <a href="{% url 'movies_index' pk=object.pk %}"
                            data-bjax data-target="#content1"
                            data-el="#content1">{{ object.name }}
                          </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

                {% url 'news_index' as news_url %}
                <li {% if news_url == current_url %}
                class=" active"
                {% endif %}><a href="{{ news_url }}">Новости</a></li>

                {% url 'guestbook' as guestbook_url %}
                <li {% if guestbook_url == current_url %}
                class=" active"
                {% endif %}>
                  <a href="{{ guestbook_url }}"
                     data-bjax data-target="#content1"
                     data-el="#content1">Отзывы
                   </a>
                </li>

                {% url 'contacts' as contacts_url %}
                <li {% if contac_url == current_url %}
                class=" active"
                {% endif %}>
                  <a href="{{ contacts_url }}"
                     data-bjax data-target="#content1"
                     data-el="#content1">Контакты
                   </a>
                </li>

                {% if user.is_authenticated %}
                {% url 'profile-home' as profile_home %}
                <li {% if profile_home == current_url %}
                class="active"
                {% endif %}>
                  <a href="{{ profile_home }}"
                     data-bjax data-target="#content1"
                     data-el="#content1">Профиль
                   </a>
                </li>

                {% else %}
                {% url 'login' as login_url %}
                <li {% if login_url == current_url %}
                class=" active"
                {% endif %}>
                  <a href="{{ login_url }}"
                     data-bjax data-target="#content1"
                     data-el="#content1">Войти
                   </a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>
