{% load staticfiles %}

<script defer src="{% static 'scripts/history.min.js' %}" type="text/javascript" /></script>
<script defer src="{% static 'scripts/cockie.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    var frm = $('#feedback-form');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: "{% url 'FeedbackView' %}",
            data: frm.serialize(),
            success: function (data) {
                $('#ess').remove();
                $('#ess2').show();
            },
            error: function(data) {
                $("#message").html("ошибка!!");
            }
        });
        return false;
    });
</script>
