{% load staticfiles humanize %}

<h3 class="dvt-heading-bordered text-capitalize dvt-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
    <small class="text-muted font-italic">Отзывы ({{ object_list.count }})</small>
    Читать отзывы
</h3>

{% for object in latest %}
<li class="media m-t-3">
    <div class="media-left">
        <a href="{% url 'profile-user' username=object.user.username %}">
            {% if object.user.profile.avatar %}
            <img class="media-object img-circle img-fluid" src="{{ object.user.profile.avatar.url }}" alt="comments author" style="width: 70px;">
            {% else %}
            <img class="media-object img-circle img-fluid" src="{% static 'images/user.png' %}" alt="user" style="width: 70px;" />
            {% endif %}
        </a>
    </div>
    <div class="media-body">
        <h5 class="media-heading font-italic">{{ object.user.username }} -
            <small class="text-muted">
                {{ object.posted|naturaltime }}
            </small>
        </h5>
        <p>{{ object.content|safe }}</p>
    </div>
</li>
{% endfor %}
